:root {
  --primary: rgb(58, 6, 138);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  height: 30px;
}

header h1 a {
  color: fuchsia;
  font-size: 16px;
  font-weight: lighter;
  margin: 20px;
  text-decoration: none;
}

#countdown {
  padding: 5px 10px;
  font-size: 30px;
}

.quiz-wrapper {
  width: 60%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-title {
  text-align: center;
  font-size: 30px;
  margin: 20px auto;
}

#instructions {
  text-align: center;
  margin: 40px 5px;
  display: flex;
  flex: wrap;
  flex-direction: row;
}

.choices-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn {
  color: rgb(255, 255, 255);
  font-weight: lighter;
  background-color: var(--primary);
  border-radius: 4px;
  border: none;
  padding: 8px;
  width: 150px;
  height: 50px;
  margin: auto;
}

.btn:hover {
  background-color: rgb(14, 151, 14);
}

.alert {
  display: block;
  width: 100%;
  text-align: center;
  color: grey;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

#alert-container {
  display: flex;
  justify-content: center;
  flex: wrap;
  line-height: 30px;
}

.initial-input {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 2px;
  font-size: 14px;
}

#submit-score-container {
  display: flex;
  justify-content: center;
}

.submit-score {
  margin: 10px auto;
  width: 20%;
}

.board-wrapper {
  width: 500px;
  margin: 15px auto;
}

.button-container {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  margin: 10px;
}

.go-back {
  width: 150px;
}

.clear-scores {
  width: 150px;
}

.rankings {
  background-color: rgba(78, 80, 230, 0.5);
  width: 50%;
  margin: 10px auto;
}

.ranked-item {
  font-size: 20px;
  padding: 8px;
}
