:root {
  --primary: rgb(58, 6, 138);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
}

header h1 {
  color: fuchsia;
  font-size: 12px;
  font-weight: lighter;
  margin: 20px;
}

#countdown {
  padding: 5px 10px;
  font-size: 30px;
}

.quiz-wrapper {
  width: 700px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.quiz-title {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.quiz-wrapper p {
  text-align: center;
  margin: 10px 5px;
  display: flex;
  flex: wrap;
  flex-direction: row;
}

.choices-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn {
  color: rgb(255, 255, 255);
  font-weight: lighter;
  background-color: var(--primary);
  border-radius: 4px;
  border: none;
  padding: 8px;
  width: 20%;
  margin: auto;
}
